:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%);

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%);

  --pill-accent: var(--bright-blue);

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.static-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/5968949.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

html,
main {
  height: 100%;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .static-background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
} */

.scroll-container {
  position: relative;
  z-index: 1;
  width: 90%;
  color: rgb(17, 17, 38);;
}

.container-fluid {
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.dp-logo {
  border-radius: 100%;
  max-width: 11rem;
}

.content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

h2 {
  margin-top: 1.75rem;
  font-size: 3.125rem;
  color: rgb(17, 17, 38);;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  margin-top: 1.5rem;
  font-size: 1.05rem;
  color: rgb(17, 17, 38);;
  font-weight: 500;
  margin: 0;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.73rem;
}

.social-links path {
  transition: fill 0.3s ease;
  fill: var(--gray-400);
}

.social-links a:hover svg path {
  fill: var(--gray-900);
}

.accordion-button {
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
  height: 50px;
  color: rgb(17, 17, 38);;
}

.btn3 {
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
  height: 50px;
}

.accordion-body {
  max-width: 1000px;
  word-wrap: break-word;
  color: rgb(17, 17, 38);
}

.card_2 {
  border: none;
  margin-top: 20px;
}

.card_2 img {
  width: 3rem;
}

.accordion-button:hover {
  /* color: red; */
}