<div class="main">
    <section class="container-fluid">
        <div class="row">
            <div class="body">
                <!--Exp 1-->
                <h4>Experiences</h4>
                <hr style="background-color: white; height: 2px;">
                <div class="card">
                    <div class="exp_1">
                        <img src="\assets\img\HH.jpg" class="card-img-top" alt="linkedin_logo">
                        <div class="vertical-line"></div>
                        <div class="card-body">
                            <h5 class="card-title">Co-op Student (IT) - Business Solutions</h5>
                            <h6 class="card-title">Home Hardware Stores Limited · Co-op</h6>
                            <p>
                                Sep 2024 - Present <br>
                                St. Jacobs, Ontario, Canada · Hybrid
                            </p>
                        </div>
                    </div>
                    <div class="" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="btn2 accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    📝 Responsibilities:
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>In my role as a Co-op IT student in Business Solutions at Home Hardware Stores
                                        Limited, I</p>
                                    <ul>
                                        <li>Conduct thorough testing to ensure quality.</li>
                                        <li>Identify and resolve defects encountered during development, testing, or production.</li>
                                        <li>Coordinate and participate in deployment activities, including system
                                            documentation and offering improvement suggestions when needed.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>

                <!--Exp 2-->
                <div class="card">
                    <div class="exp_1">
                        <img src="\assets\img\CC.png" class="card-img-top" alt="linkedin_logo">
                        <div class="vertical-line"></div>
                        <div class="card-body">
                            <h5 class="card-title">Data Analyst - Co-op</h5>
                            <h6 class="card-title">Talent-Hub Conestoga College · Co-op</h6>
                            <p>
                                May 2024 - August 2024 <br>
                                Kitchener-Doon Ontario, Canada · Hybrid
                            </p>
                        </div>
                    </div>
                    <div class="" id="accordionFlushExample2">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="btn2 accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    📝 Responsibilities:
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body">
                                    <p>In my co-op role as a Data Analyst at Talent Hub - Conestoga College, I</p>
                                    <ul>
                                        <li>Analyzed job postings, hiring trends, and applicant ratio data using Excel, Power BI, APIs, and
                                            SQL, leading to data-driven recruitment strategies.</li>
                                        <li>Designed and executed surveys, gathering critical data on dormant
                                            external stakeholder accounts and emerging sectors to inform strategic decisions.</li>
                                        <li>Developed dynamic dashboards and visualizations in Power BI to present
                                            findings on recruitment trends and employer demographics.</li>
                                        <li>Collaborated with internal stakeholders to communicate data-driven reports on engagement metrics,
                                            driving targeted improvements.</li>
                                        <li>Identify improvement opportunities by analyzing data trends to enhance organizational strategies.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>

                <!--Exp 3-->
                <div class="card">
                    <div class="exp_1">
                        <img src="\assets\img\AB.jpg" class="card-img-top" alt="linkedin_logo">
                        <div class="vertical-line"></div>
                        <div class="card-body">
                            <h5 class="card-title">Customer Service Representative/Analyst</h5>
                            <h6 class="card-title">Access Bank Plc · Full-Time</h6>
                            <p>
                                Jun 2016 - Dec 2022 · 6 yrs 7 mos <br>
                                Kitchener-Doon Ontario, Canada · Hybrid
                            </p>
                        </div>
                    </div>
                    <div class="" id="accordionFlushExample3">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="btn2 accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    📝 Responsibilities:
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample3">
                                <div class="accordion-body">
                                    <p>In my role as a Customer Service Representative at Access Bank in Lagos, Nigeria, I was deeply
                                        committed to ensuring unparalleled customer satisfaction. My key duties involved
                                    </p>
                                    <ul>
                                        <li>Proficiently addressing customer inquiries, resolving complaints, and handling requests across
                                            various communication platforms.</li>
                                        <li>Leveraging Excel for data analysis, I meticulously documented and analyzed
                                            customer interactions, ensuring precise tracking and seamless follow-up procedures.</li>
                                        <li>I actively conducted training and coaching sessions for the team, ensuring they remained well-versed
                                            in the latest products and services. </li>
                                        <li>By emphasizing Excel data analysis, I significantly enhanced operational efficiency, accuracy, and overall customer contentment
                                            within the organization.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>