html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-colour);
    color: var(--text-colour);
  }
  
  :root[data-bs-theme='light'] {
    --background-colour: #ffffff;
    --text-colour: #000000;
  }

  :root[data-bs-theme='dark'] {
    --background-colour: #212529;
    --text-colour: #ffffff;
  }


  