<div class="main">
    <section class="container-fluid">
        <div class="row">
            <div class="body">
                <h4>Licence & certifications</h4>
                <hr style="background-color: white; height: 2px;">

                <div class="card_2">
                    <img src="/assets/icons/linkedin_logo.jpg" class="card-img-top" alt="linkedin_logo">
                    <div class="card-body">
                        <h5 class="card-title">Power BI Essential Training </h5>
                        <p class="card-text">
                            LinkedIn <br>
                            Issued May 2024
                        </p>
                        <a href="https://www.linkedin.com/learning/certificates/a2e5b3313b8a99e2038b3e47c584481f5ac81a36e862da8d019c44e075d62bcf?u=2212217"
                            target="_blank" rel="noopener noreferrer" class="btn btn-success">
                            Show credential
                        </a>
                    </div>
                </div>

                <div class="card_2">
                    <img src="/assets/icons/linkedin_logo.jpg" class="card-img-top" alt="linkedin_logo">
                    <div class="card-body">
                        <h5 class="card-title">Power BI Essential Training </h5>
                        <p class="card-text">
                            LinkedIn <br>
                            Issued May 2024
                        </p>
                        <a href="https://www.linkedin.com/learning/certificates/a2e5b3313b8a99e2038b3e47c584481f5ac81a36e862da8d019c44e075d62bcf?u=2212217"
                            target="_blank" rel="noopener noreferrer" class="btn btn-success">
                            Show credential
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="card_3">
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/f51de5cbbca89e8fdf8bc6bc0888dc3f44c9f02d-640x701.png"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex overlay align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">60%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/00dbaa3c2e7b8e11bf4a9e5639e0e51a3e15c4b5-800x800.png"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">60%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/f2f277e68240755464a83e9e7ab0b6062beeffb6-1000x1000.png?rect=0,0,1000,964"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">70%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/3c5f724607b259d260c86e6ca9cc4fdd414180b0-224x224.png"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">50%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/539947922069a15dcf880edcb8decd9290dd67c9-225x225.png"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">70%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/3d0c09072dd6bd398edaba4d49551aa63817681b-720x720.png"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">60%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/83e8fa93253f07e58c6ce3b3d0ea504cc343d6a6-629x419.jpg"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">70%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/b8a5c41e56b77706656d61080f6a0217a3ba356d-279x131.png"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">30%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/75dfdf41f0326e11732c5a62f25b775510a26d4c-225x225.jpg"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">90%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/7a303cf9291d0c0d32d2d863e60258c95a847033-1366x500.png?rect=375,0,595,500"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">50%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/e410ec6ea8271d8203082c6225800ed1a211e66a-1200x1350.png"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">70%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/04ad833cc2ccd8165f0302dcb0f60a8852ce9c1e-300x168.png"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">80%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/68b9be602a95227490b5214a51e45bf42f5ad51f-1200x1200.png"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">60%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/a398387863cbd105928e351cc8c603ceca53a909-2048x2048.png"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">50%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/ba4277e7b873a0f0e7e7af4a4df949fd04ab6794-900x900.png"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">60%</p>
                </div>
            </div>
        </div>
        <div class="group position-relative d-flex cursor-pointer"><img
                class="rounded-circle border border-[#68B2A0] object-cover w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-22 xl:h-22 2xl:w-28 2xl:h-28 filter group-hover:grayscale transition duration-300 ease-in-out"
                src="https://cdn.sanity.io/images/rq8x43yk/production/1ca74765a5f182607f16d434876727450bdf2eab-225x225.png"
                alt="" style="opacity: 1; transform: none;">
            <div
                class="position-absolute opacity-0 group-hover:opacity-80 transition duration-300 ease-in-out group-hover:bg-white w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-20 lg:h-20 xl:w-20 xl:h-20 2xl:w-28 2xl:h-28 rounded-circle z-0">
                <div class="d-flex align-items-center justify-content-center h-full">
                    <p class="text-sm sm:text-lg md:text-2xl font-bold text-black opacity-100">70%</p>
                </div>
            </div>
        </div>
    </div>

</div>