<main>
    <div class="static-background"></div>
    <div class="scroll-container">
        <section class="container-fluid">
            <div class="row">
                <div class="body">
                    <h4>Licence & certifications</h4>
                    <hr style="background-color: white; height: 2px;">

                    <div class="card_2">
                        <img src="/assets/icons/linkedin_logo.jpg" class="card-img-top" alt="linkedin_logo">
                        <div class="card-body">
                            <h5 class="card-title">Power BI Essential Training </h5>
                            <p class="card-text">
                                LinkedIn <br>
                                Issued May 2024
                            </p>
                            <a href="https://www.linkedin.com/learning/certificates/a2e5b3313b8a99e2038b3e47c584481f5ac81a36e862da8d019c44e075d62bcf?u=2212217"
                                target="_blank" rel="noopener noreferrer" class="btn btn-success">
                                Show credential
                            </a>
                        </div>
                    </div>

                    <div class="card_2">
                        <img src="/assets/icons/linkedin_logo.jpg" class="card-img-top" alt="linkedin_logo">
                        <div class="card-body">
                            <h5 class="card-title">Power BI Essential Training </h5>
                            <p class="card-text">
                                LinkedIn <br>
                                Issued May 2024
                            </p>
                            <a href="https://www.linkedin.com/learning/certificates/a2e5b3313b8a99e2038b3e47c584481f5ac81a36e862da8d019c44e075d62bcf?u=2212217"
                                target="_blank" rel="noopener noreferrer" class="btn btn-success">
                                Show credential
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>