.static-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/5968949.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  html,
  main {
    height: 100%;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scroll-container {
    position: relative;
    z-index: 1;
    width: 90%;
    color: rgb(17, 17, 38);;
  }
  
  .container-fluid {
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  h2 {
    margin-top: 1.75rem;
    font-size: 3.125rem;
    color: rgb(17, 17, 38);;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  p {
    margin-top: 1.5rem;
    font-size: 1.05rem;
    color: rgb(17, 17, 38);;
    font-weight: 500;
    margin: 0;
  }

  .card_2 {
    border: none;
    margin-top: 20px;
  }
  
  .card_2 img {
    width: 3rem;
  }
  