<div class="main">
    <section class="container-fluid">
        <div class="row">
            <div class="body">
                <div class="exp">
                    <h4>About me</h4>
                </div>
                <hr style="background-color: white; height: 2px;">
                <!-- <h4>About</h4> -->
                <div id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                🔧 Technical Proficiency:
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <!-- <ul>
                                    <li>Microsoft Office Suite: Word, PowerPoint, Outlook, Excel, D365 CRM, Teams,
                                        PowerApps, Power BI.</li>
                                    <li>Programming Languages: C#, Java, HTML, CSS, JavaScript, Typescript, Angular,
                                        Python, and R.</li>
                                    <li>Database Management: MS Access, MySQL Workbench, MongoDB, MSSQL SSMS, PLSQL.
                                    </li>
                                    <li>IDEs: Visual Studio, Visual Studio Code, Eclipse, Android Studio, WebStorm,
                                        NetBeans, R Studio.</li>
                                    <li>Frameworks: ASP.NET, NodeJS, Express, Apache Cordova.</li>
                                    <li>Libraries: Bootstrap, jQuery</li>
                                </ul> -->
                                <div class="container w-70">
                                    <div class="p-5">
                                        <section class="languages">
                                            <div class="w-100">
                                                <header class="border-bottom border-primary mb-2">Languages</header>
                                                <section
                                                    class="d-flex flex-column align-items-center flex-md-row justify-content-md-center gap-4">
                                                    <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="C Sharp">
                                                        <img src="/assets/img/lang/c-sharp-c.svg" alt="C Sharp logo" class="img-fluid">
                                                    </div>
                                                    <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="JavaScript">
                                                        <img src="/assets/img/lang/javascript-js.svg" alt="JavaScript logo" class="img-fluid">
                                                    </div>
                                                </section>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="pb-20">
                                        <section class="front_end">

                                        </section>
                                    </div>
                                    <div class="pb-20">
                                        <section class="back_end"></section>
                                    </div>
                                    <div class="pb-20">
                                        <section class="database"></section>
                                    </div>
                                    <div class="pb-10">
                                        <section class=""></section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                💡 Professional Background:
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                I bring over six years of proven expertise as a customer success specialist in the
                                banking sector
                                and
                                have
                                evolved into a junior data analyst. My proficiency in Microsoft Office is complemented
                                by a
                                strategic
                                blend of analytical thinking, communication, and active listening skills. </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                🤝 Collaborative Approach:
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                With a knack for developing strong relationships, I've thrived in team environments
                                through
                                part-time
                                college employment and voluntary experiences on and off campus. I am actively pursuing
                                co-op work
                                terms
                                to
                                gain real-life experiences and acquire crucial technological skills.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                🌐 Open to Opportunities:
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                I am currently seeking a co-op position where I can apply my skills and passion for
                                technology. If
                                you
                                have exciting opportunities or insights to share, I am ready to connect and explore
                                possibilities
                                within
                                the dynamic realms of programming and tech. <br><br>
                                Let's connect and explore potential collaborations!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="row">
            <div class="body">
                <h4>Recomendations</h4>
                <hr style="background-color: white; height: 2px;">

                <div class="" id="accordionFlushExample2">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                ✅ Klayton Leopoldino:
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample2">
                            <div class="accordion-body">
                                Johnstanley was a standout colleague during our co-op as Data Analysts. His expertise in
                                SQL
                                and
                                positive
                                energy significantly contributed to our team's success. Always ready to collaborate, he
                                approached
                                challenges with
                                a can-do attitude. Johnstanley's impact on our projects was invaluable. I highly
                                recommend
                                him for
                                any
                                future
                                endeavors.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix" aria-expanded="false"
                                aria-controls="flush-collapseSix">
                                ✅ colleague:
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample2">
                            <div class="accordion-body">
                                I bring over six years of proven expertise as a customer success specialist in the
                                banking
                                sector
                                and
                                have
                                evolved into a junior data analyst. My proficiency in Microsoft Office is complemented
                                by a
                                strategic
                                blend of analytical thinking, communication, and active listening skills.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                aria-controls="flush-collapseSeven">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample2">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the
                                <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing
                                more
                                exciting
                                happening here in terms of content, but just filling up the space to make it look, at
                                least
                                at first
                                glance, a bit more representative of how this would look in a real-world application.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>