<div class="main">
    <section class="container-fluid">
        <div class="row">
            <div class="body">
                <div class="exp"><h4>About me</h4></div>
                <hr style="background-color: white; height: 2px;">
                <!-- <h4>About</h4> -->
                <div id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                🔧 Technical Proficiency:
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="d-flex flex-column align-items-center justify-content-center ">
                                <div class="accordion-body">
                                    <div class="container w-70">
                                        <div class="p-2">
                                            <section class="languages">
                                                <div class="w-100">
                                                    <header class="border-bottom border-primary mb-4 p-2 text-center">
                                                        Languages</header>
                                                    <section
                                                        class="lang d-flex flex-column align-items-center flex-md-row justify-content-md-center gap-4">
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="C Sharp">
                                                            <img src="/assets/img/lang/c-sharp-c.svg" alt="C Sharp logo"
                                                                class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="JavaScript">
                                                            <img src="/assets/img/lang/javascript-js.svg"
                                                                alt="JavaScript logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="Typescript">
                                                            <img src="/assets/img/lang/typescriptdef.svg"
                                                                alt="JavaScript logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip" data-bs-title="Java">
                                                            <img src="/assets/img/lang/java.svg" alt="JavaScript logo"
                                                                class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip" data-bs-title="HTML">
                                                            <img src="/assets/img/lang/brand-html5.svg"
                                                                alt="JavaScript logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip" data-bs-title="CSS">
                                                            <img src="/assets/img/lang/file-type-css.svg"
                                                                alt="JavaScript logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="Python">
                                                            <img src="/assets/img/lang/python.svg" alt="JavaScript logo"
                                                                class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip" data-bs-title="R">
                                                            <img src="/assets/img/lang/R.svg" alt="JavaScript logo"
                                                                class="img-fluid">
                                                        </div>
                                                    </section>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="p-1">
                                            <section class="libraries">
                                                <div class="w-100">
                                                    <header class="border-bottom border-primary mb-4 p-2 text-center">Libraries</header>
                                                    <section
                                                        class="lang d-flex flex-column align-items-center flex-md-row justify-content-md-center gap-4">
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="Bootstrap">
                                                            <img src="/assets/img/lib/bootstrap.svg"
                                                                alt="Bootstrap logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="jQuery">
                                                            <img src="/assets/img/lib/jquery.svg" alt="JQuerylogo"
                                                                class="img-fluid">
                                                        </div>
                                                    </section>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="p-1">
                                            <section class="database">
                                                <div class="w-100">
                                                    <header class="border-bottom border-primary mb-4 p-2 text-center">Database Management</header>
                                                    <section
                                                        class="lang d-flex flex-column align-items-center flex-md-row justify-content-md-center gap-4">
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="MS Access">
                                                            <img src="/assets/img/db/Office_Access.svg"
                                                                alt="MS Access logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip" data-bs-title="MSSQL">
                                                            <img src="/assets/img/db/mssql.svg" alt="MSSQL logo"
                                                                class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="MongoDB">
                                                            <img src="/assets/img/db/mongodb.svg" alt="MongoDB logo"
                                                                class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip" data-bs-title="PLSQL">
                                                            <img src="/assets/img/db/plsql.svg" alt="PLSQL logo"
                                                                class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip" data-bs-title="Azure">
                                                            <img src="/assets/img/db/azure.svg" alt="Azure SQL logo"
                                                                class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip" data-bs-title="MySQL">
                                                            <img src="/assets/img/db/mysql.svg" alt="MYSQL logo"
                                                                class="img-fluid">
                                                        </div>
                                                    </section>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="p-1">
                                            <section class="framework">
                                                <div class="w-100">
                                                    <header class="border-bottom border-primary mb-4 p-2 text-center">Framework</header>
                                                    <section
                                                        class="lang d-flex flex-column align-items-center flex-md-row justify-content-md-center gap-4">
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="ASP.Net">
                                                            <img src="/assets/img/framework/asp.svg" alt="ASP.Net logo"
                                                                class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="Angular">
                                                            <img src="/assets/img/framework/angular.svg"
                                                                alt="Angular logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="Express.Js">
                                                            <img src="/assets/img/framework/express.svg"
                                                                alt="Express logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="Node.Js">
                                                            <img src="/assets/img/framework/nodejs.svg"
                                                                alt="Node.Js logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="Cordova">
                                                            <img src="/assets/img/framework/cordova.svg"
                                                                alt="Cordova logo" class="img-fluid">
                                                        </div>
                                                    </section>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="p-1">
                                            <section class="office">
                                                <div class="w-100">
                                                    <header class="border-bottom border-primary mb-4 p-2 text-center">Office Suite</header>
                                                    <section
                                                        class="lang d-flex flex-column align-items-center flex-md-row justify-content-md-center gap-4">
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip" data-bs-title="Word">
                                                            <img src="/assets/img/office/ms-word.svg" alt="MS Word logo"
                                                                class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip" data-bs-title="Excel">
                                                            <img src="/assets/img/office/ms-excel.svg"
                                                                alt="MS Excel logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="PowerPoint">
                                                            <img src="/assets/img/office/ms-powerpoint.svg"
                                                                alt="MS PowerPoint logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="PowerApps">
                                                            <img src="/assets/img/office/power-apps.svg"
                                                                alt="MS PowerApps logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="Outlook">
                                                            <img src="/assets/img/office/ms-outlook.svg"
                                                                alt="MS Outlook logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip" data-bs-title="Teams">
                                                            <img src="/assets/img/office/ms-teams.svg"
                                                                alt="MS Teams logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="D365 CRM">
                                                            <img src="/assets/img/office/D365.svg" alt="MS D365 logo"
                                                                class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="Power BI">
                                                            <img src="/assets/img/office/powerBI.svg"
                                                                alt="MS PowerBI logo" class="img-fluid">
                                                        </div>
                                                    </section>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="p-1">
                                            <section class="office">
                                                <div class="w-100">
                                                    <header class="border-bottom border-primary mb-4 p-2 text-center">IDEs</header>
                                                    <section
                                                        class="lang d-flex flex-column align-items-center flex-md-row justify-content-md-center gap-4">
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="Eclipse">
                                                            <img src="/assets/img/IDEs/eclipse.svg" alt="Eclipse logo"
                                                                class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="Apache NetBeans">
                                                            <img src="/assets/img/IDEs/netbeans.svg"
                                                                alt="Apache NetBeans logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="Visual Studio">
                                                            <img src="/assets/img/IDEs/visual-studio.svg"
                                                                alt="Visual Studio logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="VS Code">
                                                            <img src="/assets/img/IDEs/vs-code.svg"
                                                                alt="Visual Studio Code logo" class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="Postman">
                                                            <img src="/assets/img/IDEs/postman.svg" alt="Postman"
                                                                class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="RStudio">
                                                            <img src="/assets/img/IDEs/rstudio.svg" alt="RStudio"
                                                                class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="WebStorm">
                                                            <img src="/assets/img/IDEs/webstorm.svg" alt="WebStorm"
                                                                class="img-fluid">
                                                        </div>
                                                        <div class="custom-tooltip" data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-custom-class="custom-tooltip"
                                                            data-bs-title="Selenium">
                                                            <img src="/assets/img/IDEs/selenium.svg" alt="Selenium"
                                                                class="img-fluid">
                                                        </div>
                                                    </section>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                💡 Professional Background:
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                I bring over six years of proven expertise as a customer success specialist in
                                the
                                banking sector
                                and
                                have
                                evolved into a junior data analyst. My proficiency in Microsoft Office is
                                complemented
                                by a
                                strategic
                                blend of analytical thinking, communication, and active listening skills. </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                🤝 Collaborative Approach:
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                With a knack for developing strong relationships, I've thrived in team
                                environments
                                through
                                part-time
                                college employment and voluntary experiences on and off campus. I am actively
                                pursuing
                                co-op work
                                terms
                                to
                                gain real-life experiences and acquire crucial technological skills.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                🌐 Open to Opportunities:
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                I am currently seeking a co-op position where I can apply my skills and passion
                                for
                                technology. If
                                you
                                have exciting opportunities or insights to share, I am ready to connect and
                                explore
                                possibilities
                                within
                                the dynamic realms of programming and tech. <br><br>
                                Let's connect and explore potential collaborations!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="row">
            <div class="body">
                <h4>Recomendations</h4>
                <hr style="background-color: white; height: 2px;">

                <div class="" id="accordionFlushExample2">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                ✅ Klayton Leopoldino:
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample2">
                            <div class="accordion-body">
                                Johnstanley was a standout colleague during our co-op as Data Analysts. His expertise in
                                SQL
                                and
                                positive
                                energy significantly contributed to our team's success. Always ready to collaborate, he
                                approached
                                challenges with
                                a can-do attitude. Johnstanley's impact on our projects was invaluable. I highly
                                recommend
                                him for
                                any
                                future
                                endeavors.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix" aria-expanded="false"
                                aria-controls="flush-collapseSix">
                                ✅ colleague:
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample2">
                            <div class="accordion-body">
                                I bring over six years of proven expertise as a customer success specialist in the
                                banking
                                sector
                                and
                                have
                                evolved into a junior data analyst. My proficiency in Microsoft Office is complemented
                                by a
                                strategic
                                blend of analytical thinking, communication, and active listening skills.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                aria-controls="flush-collapseSeven">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample2">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the
                                <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing
                                more
                                exciting
                                happening here in terms of content, but just filling up the space to make it look, at
                                least
                                at first
                                glance, a bit more representative of how this would look in a real-world application.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>