.main {
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.container-fluid:nth-child(1) {
  margin-top: 5rem;
  width: 75%;
}

.container-fluid:nth-child(2) {
  margin-top: 3rem;
  width: 75%;
}

.collapse {
  width: 100%;
}

h4 {
  color:white;
  font-weight: 500;
}

.accordion-button {
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
  height: 50px;
  color: white;
  background-color: #333;
}

.btn3 {
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
  height: 50px;
}

.accordion-body {
  max-width: 1000px;
  word-wrap: break-word;
  color: white;
}

.accordion-button:hover {
  color: #3498db;
}

h4 {
  font-weight: bold;
}

.custom-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.custom-tooltip::before {
  content: attr(data-bs-title);
  position: absolute;
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #333; 
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap; 
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  pointer-events: none; 
}

.custom-tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}

.custom-tooltip img {
  width: 2.5rem;
  height: 2.5rem;
  border: solid 2px;
  background-color: #fff;
  transition: transform 1ms;
  border-radius: 5px;
}

.custom-tooltip img:hover {
  animation: bounce 1.05s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.lang {
  margin: 2rem;
}